<ion-item class="bg-black">
  <ion-card class="card-container">
    <ion-grid no-padding>
      <ion-row class="card-content">
        <ion-col size-md="2" size-sm="4">
          <ion-img [src]="calon.picture" class="item-picture"></ion-img>
        </ion-col>
        <ion-col size-md="10" size-sm="8">
          <ion-label class="ion-text-wrap">
            <h2><b>{{ calon.name }}</b></h2>
            <h3>{{ calon.description }}</h3>
            <ion-label *ngIf="calon.gender==0" class="item-gender">
              <ion-icon slot="start" name="male" class="item-gender-icon"></ion-icon>
              <h3>Laki-laki</h3>
            </ion-label>
            <ion-label *ngIf="calon.gender==1" class="item-gender">
              <ion-icon slot="start" name="female" class="item-gender-icon"></ion-icon>
              <h3>Perempuan</h3>
            </ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-item>
