<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Target Gebetan</ion-title>
    <ion-button [routerLink]="['/', 'profil']" slot="end" fill="clear">
      <ion-avatar class="user-avatar">
        <img src="assets/images/profile.JPG"/>
      </ion-avatar>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-black">
  <ion-list no-padding>
    <ion-item-sliding *ngFor="let target of target_list">
      <app-gebetan-item [target]="target"></app-gebetan-item>
      <ion-item-options side="end">
        <ion-item-option (click)="OnDeleteGebetan(target.id)" class="bg-red">
          <ion-icon slot="icon-only" name="close" color="danger" class="icon-delete"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="!target_list.length" class="bg-black">
        <ion-label text-center>
          <h2 class="text-white">Anda belum punya target gebetan.</h2>
          <ion-button [routerLink]="['/', 'daftar-calon-gebetan']" color="light">
            Cari Gebetan
          </ion-button>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
