<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail>
    <ion-img [src]="offer.imgUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.title }}</h2>
    <div>
      <ion-icon name="calendar"></ion-icon>
      <ion-text color="primary">--</ion-text>
      <span>to</span>
      <ion-icon name="calendar"></ion-icon>
      <ion-text color="primary">--</ion-text>
    </div>
  </ion-label>
  <ion-icon slot="end" name="arrow-dropright" color="medium"></ion-icon>
</ion-item>
