<ion-app>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyDjtlCZdXIic_fajisFoToELI4SXn4lJyc",
      authDomain: "mobile-2-week-10.firebaseapp.com",
      databaseURL: "https://mobile-2-week-10.firebaseio.com",
      projectId: "mobile-2-week-10",
      storageBucket: "mobile-2-week-10.appspot.com",
      messagingSenderId: "761561390621",
      appId: "1:761561390621:web:50addddc38decc63ccf0f4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
